<center>

  <h2>Image successfully saved to AWS S3 bucket!</h2>

  <img src="<%= image %>">
  <br><br>

  <h2>Secure image URL (expires after 15 minutes):</h2>

  <div style="width: 500px">
    <%= image %>
  </div>

</center>