<center>

  <h2>Please select a file to upload to the AWS S3 bucket:</h2>

  <form  method = "post" action = "readback" enctype="multipart/form-data">
    <input type = "file" accept = "image/*" name = "upload[image]" required>
    <input type = "submit">
  </form>

</center>