# AWS-hosted S3 bucket

# ENV['AWS_ACCESS_KEY_ID']='your_aws_access_key_id'
# ENV['AWS_SECRET_ACCESS_KEY']='your_aws_secret_access_key'
# ENV['AWS_REGION']='us-west-2'
# ENV['PATH_STYLE']='true'

# http://docs.aws.amazon.com/general/latest/gr/aws-sec-cred-types.html#access-keys-and-secret-access-keys